<div class="mb-12">
  <div class="mb-2">
    <h3 class="text-2xl mb-2 font-normal">Realização</h3>
    <div>
      <span class="font-semibold">ICHSA</span> – Programa de Pós-Graduação
      Interdisciplinar em Ciências Humanas e Sociais Aplicadas (Unicamp)
    </div>
    <div>
      <span class="font-semibold">PPGFIL</span> – Programa de Pós-Graduação em
      Filosofia (UFPI)
    </div>
  </div>
  <div class="mb-2">
    <h3 class="text-2xl font-normal mb-2">Apoio</h3>
    <p>
      <span class="font-semibold">NOMEAR</span> – Grupo de Pesquisa
      Fenomenologia e Geografia
      <br />
      <span class="font-semibold">LAGERR</span> – Laboratório de Geografia dos
      Riscos e Resiliência
      <br />
      <span class="font-semibold"
        >Laboratório Interdisciplinar Hermenêutica, Ambiente e Saúde</span
      >
      (FOLIE/CNPq) - UFPI
    </p>
  </div>
</div>
<div class="flex flex-wrap place-items-center justify-center py-3 md:py-5">
  {% for el in apoios.realizacao %}
  <div class="px-4">
    <figure>
      <a href="{{ el.siteLink | url }}" target="_blank"
        ><img
          src="{{ el.logoLink | url }}"
          class="h-14 md:h-24 sm:h-20"
          alt="Link para site da {{ el.nameLink}}"
      /></a>
    </figure>
  </div>
  {% endfor %}
</div>
<div class="flex flex-wrap place-items-center justify-center py-3 md:py-5">
  {% for el in apoios.apoio %}
  <div class="px-2">
    <figure>
      <a href="{{ el.siteLink | url }}" target="_blank"
        ><img
          src="{{ el.logoLink | url }}"
          class="h-10 md:h-20 sm:h-16"
          alt="Link para site da {{ el.nameLink}}"
      /></a>
    </figure>
  </div>
  {% endfor %}
</div>
<div class="flex flex-wrap place-items-center justify-center py-3 md:py-5">
  {% for el in apoios.local %}
  <div class="px-4">
    <figure>
      <a href="{{ el.siteLink | url }}" target="_blank"
        ><img
          src="{{ el.logoLink | url }}"
          class="h-14 md:h-20 sm:h-18"
          alt="Link para site da {{ el.nameLink}}"
      /></a>
    </figure>
  </div>
  {% endfor %}
</div>
