<div class="mb-12">
  <div class="mb-2">
    <h3 class="text-2xl mb-2 font-normal">Realização</h3>
    <div>
      <strong>ICHSA</strong> – Programa de Pós-Graduação Interdisciplinar em
      Ciências Humanas e Sociais Aplicadas (Unicamp)
    </div>
    <div>
      <strong>PPGFIL</strong> – Programa de Pós-Graduação em Filosofia (UFPI)
    </div>
  </div>
  <div class="mb-2">
    <h3 class="text-2xl font-normal mb-2">Apoio</h3>
    <p>
      <strong>NOMEAR</strong> – Grupo de Pesquisa Fenomenologia e Geografia
      <br />
      <strong>LAGERR</strong> – Laboratório de Geografia dos Riscos e
      Resiliência
      <br />
      <strong
        >Laboratório Interdisciplinar Hermenêutica, Ambiente e Saúde</strong
      >
      (FOLIE/CNPq) - UFPI
    </p>
  </div>
</div>
<div class="flex flex-wrap place-items-center justify-center py-3 md:py-5">
  {% for el in apoios.realizacao %}
  <div class="px-4">
    <figure>
      <a href="{{ el.siteLink | url }}" target="_blank"
        ><img src="{{ el.logoLink | url }}" class="h-14 md:h-24 sm:h-20" alt=""
      /></a>
    </figure>
  </div>
  {% endfor %}
</div>
<div class="flex flex-wrap place-items-center justify-center py-3 md:py-5">
  {% for el in apoios.apoio %}
  <div class="px-2">
    <figure>
      <a href="{{ el.siteLink | url }}" target="_blank"
        ><img src="{{ el.logoLink | url }}" class="h-10 md:h-20 sm:h-16" alt=""
      /></a>
    </figure>
  </div>
  {% endfor %}
</div>
<div class="flex flex-wrap place-items-center justify-center py-3 md:py-5">
  {% for el in apoios.local %}
  <div class="px-4">
    <figure>
      <a href="{{ el.siteLink | url }}" target="_blank"
        ><img src="{{ el.logoLink | url }}" class="h-14 md:h-20 sm:h-18" alt=""
      /></a>
    </figure>
  </div>
  {% endfor %}
</div>
