<div
  class="flex flex-wrap justify-around justify-self-center self-start place-items-center text-center"
>
  {% for convidado in convidados %}
  <div class="mx-auto mb-20 justify-items-center self-start">
    {#
    <img src="{{ convidado.foto | url }}" />
    #}
    <div
      class="rounded-full w-48 h-48 mb-6 ring-2 ring-slate-400 mx-auto shadow-lg overflow-clip"
    >
      {% image 'src' + convidado.foto, "Photo of cibelle", [192] %}
    </div>
    <div class="text-xl md:text-2xl font-bold w-64 mx-auto">
      {{ convidado.nome }}
    </div>
    <div class="text-lg md:text-xl mb-3">{{ convidado.departamento }}</div>
    {% button "lattes", convidado.cv %} {% if resumos %}
    <div class="text-base text-justify leading-relaxed mt-4">
      {{ convidado.resumo }}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
