---
layout: base
title: Home
---

<header>{% include 'header.html' %}</header>
<section class="bg-blue text-center text-kuhn-white py-6 mb-4">
  <div class="container">
    <div class="leading-tight text-xl lg:text-3xl font-bold py-1">
      60 anos da obra “A Estrutura das Revoluções Científicas”
    </div>
    <div class="leading-tight text-xl lg:text-3xl font-bold py-1">
      100 anos de nascimento de Thomas Kuhn
    </div>
    <div class="text-lg md:text-xl py-2 font-medium">
      Presencialmente, nos dias 29 e 30 de setembro de 2022, na Faculdade de
      Ciências Aplicadas da Universidade Estadual de Campinas em Limeira
    </div>
  </div>
</section>

<section class="container mb-8">
  <h2 class="text-3xl md:text-3xl font-extrabold text-center mb-12 uppercase">
    Convidados confirmados
  </h2>
  {% include 'convidados/simples.html' %}
</section>
<section class="container mb-12">{% include 'localizacao.html' %}</section>
<section class="container mb-12">{% include "apoio.html"%}</section>
