---
layout: base
title: Sobre
---

<section class="container mb-12">
  {% title "COLÓQUIO THOMAS KUHN: CIÊNCIA, HISTÓRIA E COMUNIDADE CIENTÍFICA" %}
  <h2>
    <div>
      <div
        class="leading-tight text-xl lg:text-2xl font-medium py-1 text-center"
      >
        60 anos da obra “A Estrutura das Revoluções Científicas
      </div>
      <div
        class="leading-tight text-xl lg:text-2xl font-medium py-1 text-center mb-8"
      >
        100 anos de nascimento de Thomas Kuhn
      </div>
    </div>
  </h2>
  <div class="text-base text-justify leading-relaxed mt-4">
    <p class="mb-3">
      O Colóquio Thomas Kuhn: ciência, história e comunidade científica será
      realizado em honra do aniversário de 100 anos do filósofo americano Thomas
      Kuhn (1922-1996), que marcou a filosofia e a história da ciência com o
      conceito de “paradigma” e a tese da incomensurabilidade. Seu trabalho,
      notadamente o livro “A Estrutura das Revoluções Científicas” (1962),
      publicado há 60 anos, contribuiu para a virada histórica na filosofia da
      ciência no século XX, provocando um grande impacto nas ciências em geral,
      da física às ciências humanas. Ao comemorar a vida e a obra de Kuhn, temos
      como objeto refletir sobre suas contribuições, considerando a relevância
      do seu legado e o impacto do mesmo na atividade científica contemporânea.
    </p>

    <p class="mb-3">
      O Colóquio é uma iniciativa de docentes e discentes dos Programas de
      Pós-Graduação em Filosofia da Universidade Federal do Piauí (PPGFIL/UFPI)
      e Interdisciplinar em Ciências Humanas e Sociais Aplicadas da Universidade
      Estadual de Campinas (ICHSA/Unicamp), pensado no contexto do convênio de
      colaboração entre os dois PPG.
    </p>
    <p class="mb-3">
      Convidamos a comunidade acadêmica a submeter trabalhos de reflexão do
      legado, contribuições e problemáticas suscitadas pelo trabalho de Thomas
      Kuhn. Para isso, foram definidos três eixos temáticos:
    </p>

    <ol class="py-5 list-decimal px-7">
      <li class="py-2 text-left">
        O pensamento de Kuhn na filosofia da ciência hoje;
      </li>
      <li class="py-2 text-left">
        Paradigmas menores incomensuráveis e conviventes;
      </li>
      <li class="py-2 text-left">
        Comunidades científicas e paradigmas nas ciências humanas e sociais.
      </li>
    </ol>
    <p>
      O evento acontecerá presencialmente nos dias
      <b>29 e 30 de Setembro</b> na Faculdade de Ciências Aplicadas da UNICAMP,
      em Limeira.
    </p>
  </div>
</section>

<section class="container mb-12">{% include 'localizacao.html' %}</section>
<section class="container mb-12">{% include "apoio.html"%}</section>
