---
layout: base
title: Trabalhos
---

<section class="container">
  {% title "Trabalhos Aceitos" %}

  <div>
    {% for trabalho in trabalhos %}
    <div class="mb-20 text-center">
      <div class="font-medium text-2xl mb-6 uppercase">{{trabalho.titulo}}</div>
      <div
        class="flex flex-col lg:flex-row lg:flex-wrap justify-evenly justify-items-center"
      >
        {% for autor in trabalho.autores %}
        <div class="mb-2 px-5 text-lg text-slate-600">{{autor}}</div>

        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
